* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	-webkit-tap-highlight-color:transparent;
	tap-highlight-color:transparent;
}
body {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-weight:400;
	-webkit-user-select:none;
	user-select:none
}
li,ul {
	list-style:none
}
img {
	-webkit-transition:opacity .3s ease;
	transition:opacity .3s ease;
	-webkit-tap-highlight-color:transparent;
	tap-highlight-color:transparent;
	-webkit-user-select:none;
	user-select:none;
	max-width:100%;
	vertical-align:bottom
}
.clear {
	clear:both;
	height:0
}
.clearfix:after {
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both
}
#axon_loadBanner,#maxit_pop_div,#wins_toolbar,iframe {
	display:none!important
}
body {
	color:#434343;
	-webkit-user-select:none;
	-webkit-text-size-adjust:none;
	font-size:100%;
	width:100%;
	// min-width:320px;
	// max-width:640px;
	margin:0 auto;
	font-family:Helvetica;
	line-height:1.5;
	background:#ebebeb;
	-webkit-overflow-scrolling:touch;
	position:relative;
	z-index:0
}
button {
	cursor:pointer;
	color:#fff;
	border-radius:.175em;
	line-height:1;
	font-weight:500;
	font-size:1em
}
button,input,time {
	font-family:Helvetica
}
button.disabled {
	color:#fff!important;
	background:#d2d2d2!important;
	border-color:#d2d2d2!important
}
button.disabled:active {
	background:#d2d2d2!important;
	border-color:#d2d2d2!important
}
h1,h2,h3,h4,h5,h6 {
	font-weight:400
}
h1 {
	font-size:1.25em
}
h2 {
	font-size:1em
}
h3 {
	font-size:.9125em
}
h4 {
	font-size:.875em
}
h5 {
	font-size:.8125em
}
h6 {
	font-size:.75em
}
.bold {
	font-weight:700
}
.relative {
	position:relative
}
.text-center {
	text-align:center
}
.text-left {
	text-align:left
}
.text-right {
	text-align:right
}
.black {
	color:#313131
}
.white {
	color:#fff
}
.setnone {
	display:none
}
.hidden {
	visibility:hidden
}
.left {
	float:left
}
.right {
	float:right
}
.line-text-overhidden {
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical
}
.line1-text-overhidden {
	-webkit-line-clamp:1
}
.line2-text-overhidden {
	-webkit-line-clamp:2
}
.line3-text-overhidden {
	-webkit-line-clamp:3
}
.divider {
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
	position:absolute;
	z-index:1;
	background-color:#999
}
.divider-vertical {
	width:1px;
	height:100%;
	-webkit-transform:scaleX(.4);
	transform:scaleX(.4)
}
.divider-horizontal {
	width:100%;
	height:1px;
	-webkit-transform:scaleY(.4);
	transform:scaleY(.4)
}
.divider-left,.divider-top {
	top:0;
	left:0
}
.divider-right {
	top:0;
	right:0
}
.divider-bottom {
	bottom:0;
	left:0
}
@media only screen and (min-width:319px) and (max-width:359px) {
	body {
	    font-size:95%
    }
}
@media only screen and (min-width:384px) and (max-width:414px) {
	body {
	    font-size:105%
    }
}
@media only screen and (min-width:415px) and (max-width:480px) {
	body {
	    font-size:112%
    }
}
@media only screen and (min-width:481px) and (max-width:600px) {
	body {
	    font-size:120%
    }
}
@media only screen and (min-width:601px) {
	body {
	    font-size:150%
    }
}
@media only screen and (min-width:640px) {
	body {
	    font-size:180%
    }
}
