@mixin PingFangSC-Semibold {
    font-family: PingFangSC-Semibold;
    font-weight: bold;
}

@mixin PingFangSC-Regular {
    font-family: PingFangSC-Regular;
}

@mixin PingFangSC-Medium {
    font-family: PingFangSC-Medium;
}

@mixin SourceHanSansCN-Bold {
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
}

@mixin DINPro-Bold {
    font-family: DINPro-Bold;
    font-weight: bold;
}